.tags-name-column {
    color: rgba(73, 73, 73, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    cursor: pointer;
    padding: 16px 24px 16px 24px;
    font-family: Poppins;
}
