.approvalPage {
}

.relative {
  position: relative;
}

.approvalPageContent {
  display: flex;
}

.lineDivider {
  height: 100vh;
  width: 1px;
  position: absolute;
  left: 52.5%;
  top: 0;
  transform: translate(-50%, 0);
  background: rgba(0, 0, 0, 0.2);
}

.deploymentDetailsLine {
  font-size: 14px;
  color: #656565;
}

.bold {
  font-weight: 600;
  color: black;
}

.reviewHistorySubtitile {
  font-size: 12px;
  color: #666666;
}

.commentSection {
  flex-grow: 1;
  max-width: 50%;
  padding-left: 52px;
}

.leftPane {
  flex-grow: 1;
  max-width: 50%;
  padding-right: 52px;
}

.commentBox {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 16px;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.commentTitle {
  font-size: 14px;
  font-weight: 500;
}

.commentBody {
  font-size: 12px;
  color: #222222;
}

.commentFooter {
  display: flex;
  justify-content: space-between;
}

.commentTime {
  font-size: 10px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}

.commentStatus {
  font-size: 10px;
  font-weight: 600;
}

.rejectBox {
  background-color: #ffc4c4;
  border-radius: 8px;
  border: 2px solid #df8989;
}

.approvedBox {
  background-color: #b3e4b8;
  border-radius: 8px;
  border: 2px solid #4e7452;
}

.acceptedText {
  color: #4e7452;
}

.rejectedText {
  color: #a95050;
}
