.version {
    font-size: 14px;
    color: #74828F;
    font-weight: 500;
    cursor: pointer;
}

.select-tags-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.model-details-header-container {
    padding-bottom: 20px;
    display: flex;
    align-items: normal;
}

.saveIcon {
    margin-left: 15px;
    cursor: pointer;
}

.model-details-header-container-text {
    color: #000000;
    font-weight: 600;
    font-size: 16px;
}

.selectable-tags-list {
    display: flex;
    flex-wrap: wrap;
}

.selectable-tag-box {
    padding: 18px;
    background-color: #9898981A;
    width: 240px;
    height: 75px;
    border-radius: 8px;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.selectable-tag-name {
    color: #222222;
    font-size: 14px;
    font-weight: 500;
}

.selected-tag-box {
    background-color: #6565FF1A;
    border: 2px solid #6565FF;
}

.selected-tag-name {
    color: #222222;
    font-size: 14px;
    font-weight: 500;
}

.existing-tags-container {
    margin-top: 20px;
}

.existing-tags-list-header {
    color: #000000;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 20px;
}

.existing-tags-list {
    display: flex;
    flex-wrap: wrap;
}

.existing-tag {
    padding: 18px;
    background-color: lightcyan;
    width: 240px;
    height: 75px;
    border-radius: 8px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.existing-tag-name {
    color: #222222;
    font-size: 14px;
    font-weight: 500;
}