.version {
    font-size: 14px;
    color: #74828F;
    font-weight: 500;
    cursor: pointer;
}

.select-tags-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.model-details-header-container {
    padding-bottom: 20px;
    display: flex;
    align-items: normal;
}

.saveIcon {
    margin-left: 15px;
    cursor: pointer;
}

.model-details-header-container-text {
    color: #000000;
    font-weight: 600;
    font-size: 16px;
}

.selectable-tags-list {
    display: flex;
    flex-wrap: wrap;
}

.existing-tags-container {
    margin-top: 60px;
}

.existing-tags-list-header {
    color: #000000;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 20px;
}

.download-model-button {
    border: none;
    border-radius: 4px;
    font-size: 10px;
}

.actionColCell {
    display: flex;
}