.pageHeaders{
    font-size: 16px;
    color: #222222;
    font-weight: 600;
    margin-bottom: 24px;
}

.pageSubHeaders{
    margin-top: 32px;
    font-size: 12px;
    font-weight: 500;
}

.glanceCardsRow{
    display: flex;
    gap: 8px;
    margin-bottom: 52px;
}

.glanceCard{
    position: relative;
    background-color: #E5E5FF;
    border-radius: 12px;
    height: 200px;
    flex-grow: 1;
}

.glanceCardTitle{
    position: absolute;
    font-size: 64px;
    font-weight: 200;

    top: 40%;
    left: 50%;
    transform: translate(-50%,-40%);
}

.glanceCardSubTitle{
    position: absolute;
    font-size: 14px;
    font-weight: 300;
    white-space: nowrap; 

    top: 65%;
    left: 50%;
    transform: translate(-50%,0);
}

.graphBox{
    /* height: 334px; */
    background-color: #F9F9FF;
    padding:0 32px;
    border-radius: 20px;
    margin-bottom: 52px;
    display: flex;
}

.graphLegend{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.legendTitle{
    align-self: center;
    font-size: 10px;
    margin: 0; 
}

.legendSolidLine{
    width: 32px;
    height: 4px;
    background-color: #DF9D90;
    margin-right: 12px;
}

.legendDottedLine{
    width: 32px;
    height: 4px;
    margin-right: 12px;
    border: 2px dashed #DF9D90;
}

.usageTrendsGraph{
    height: 500px;
    width: 1400px;
}